
/* .outer{
    z-index: 11111;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 560px;
    left: 15px;
    border-radius:100px;
    justify-content: space-around;
    background-color: white;

    display: flex;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
} */