


body {
    margin: 0;
  }     
  .hero {
      display: flex;
      flex-direction: column;
      background-image: url("../../Assets/Tdoctors.jpg");
      
      /* background: rgba(255, 122, 89, .5) url('../../Assets/topimg.jpeg') no-repeat center center fixed; */
      height: 100vh;
      align-self: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      align-items: center;
      justify-content: center;
  }
        
  .text {
      font-size: 1.4rem;
      margin-left: auto;
      text-align: left;
    
      color: white;
      width: 40%;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      /* margin-left: 47rem; */
          
  }
  .text>h1{
    color:#4c4bbd;
}
.text>p{
    color:#8f8eff;
    /* color: rgb(45, 45, 45); */
    font-weight: 1rem;
    margin-right: 15px;
    /* color:wheat; */
    font-size:1rem
}

@media screen and (max-width:995px){
   .hero{
    /* background-image:url("../../Assets/topimg.jpeg") background rgba(0, 0, 0, .5); */
    background: rgba(74, 8, 208, 0.5) url('../../Assets/Tdoctors.jpg') no-repeat center center fixed;
    background-blend-mode: multiply;

    background-size: cover;
   }

    .text{
        display: block;
        text-align: left;
        margin-left:auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;
        
        /* margin-top: -370px; */

    }
    .text>h1, .text>p{
        color: rgb(228, 220, 220);
        font-weight: 1rem;
    }
    

  }