/* 


.a-row {
    display: flex;
    justify-content: space-around;
}

.purp-col {
    background-color: #4c4bbd;
    border-radius: 25px;
    width: 15rem;
    height: 10rem;
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purp-col>p {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;   
}

.ah{
    color: white;
    font-size: 15pt;
}

.ap{
    color: whitesmoke;
} */

/* @media screen and (max-width:800px){
    .this-row-block{
      margin-left:auto;
        margin-right:auto;
    }
    .this-row-appear{
        background-color: #4c4bbd;
        display:block;
        border: 10px;
    }
    

  } */